body{
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;

}
.container1 h1{
    justify-content: center;
    align-items: center;
    font-size: 5.75rem;
    width: 500;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 10px;
}

.container1 h5{
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 244px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    
}


/* fazendo links */
.links img{
    margin: 10px;
    height: 40px;
    width: 40px;
    
    
    
}
.links{
    width: 244px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
.links a{
    text-decoration: none;
}
/*modificando os id */

#design{
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 365px;
    margin-top: -60px;
    margin-left: auto;
    font-weight: 700;
    text-transform: uppercase;
    
    
}
#nova{
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 400px;
    margin-top: 260px;
    margin-right: auto;
    font-weight: 700;
    text-transform: uppercase;
    
}

/* container 3*/

.container3{
    background-color: #f2f2f2;
    width: 580px;
    height: 200px;
    margin: 40px;
    padding-top:50px;
    padding: 40px;
    
}
.container3 h5{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;

}
.container3 p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-size: 1.125rem;
    
}

/*container 4*/
.container4{
    
    background-color: #f2f2f2;
    width: 630px;
    height: 200px;
    margin-left: auto;
    padding-top:50px;
    margin-top: -320px;
    padding: 40px;
    
   
    
    
    
}
.container4 h5{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;

}
.container4 p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-size: 1.125rem;
    
}

/* container 5*/
.container5{
    background-color: #f2f2f2;
    width: 370px;
    height: 200px;
    margin: 40px;

    padding-top:50px;
    padding: 40px;
}
.container5 h5{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.container5 p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-size: 1.125rem;
}

/*container 6*/
.container6{
    background-color: #f2f2f2;
    width: 370px;
    height: 200px;
    margin-left: 508px;
    padding-top:50px;
    margin-top: -320px;
    padding: 40px;
}
.container6 h5{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.container6 p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-size: 1.125rem;
}
/* container 7 */
.container7{
    background-color: #f2f2f2;
    width: 370px;
    height: 200px;
    margin-left: auto;
    margin-top: -280px;
    padding-top:50px;
    padding: 40px;
}
.container7 h5{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.container7 p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-size: 1.125rem;
}

/* prejetos */
.ultimos {
    font-size: 3.75rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin: 40px;
    
}
.projetos1 img{
    height: 520px;
    width: 700px;
}
.projetos1 p{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.projetos2 img{
    height: 520px;
    width: 700px;


}
.projetos2 p{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

/* fazendo o outro grupo */

.projetos3 img{
    height: 520px;
    width: 700px;
}
.projetos3 p{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.projetos4 img{
    height: 520px;
    width: 700px;
}
.projetos4 p{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
     
}
.projetos-1{
    display: flex;
    gap:30px;
    margin-top: 30px;
}
.projetos-2{
    display: flex;
    gap: 30px;
    
}
.sobre-mim{
   width: 800px;
   text-align: center;
   margin: auto;
   padding-top: 100px;
   
}
.sobre-mim img{
 height: 600px;
 
}
.sobre-mim h5{
    font-size: 3.75rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin: 40px;
}
.sobre-mim p{
    font-size: 1.125rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    
}
.sobre-mim button{
    height: 40px;
    font-size:15px ;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    
    

}
.sobre-mim button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    
}